@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#handburger {
  padding-top: 6%;
  margin: 0 1em;
}

.handburger {
  content: "\f0c9";
  font-size: 40px;
  color: #2e323b;
}

/* #about-first-page {
  background-image: url(img/home-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
} */

#about-first-page {
  margin-right: 1em;
  margin-left: 1em;
  background-image: url(img/bck1.png), url(img/bck2.png), url(img/bck3.png), url(img/bck4.png);
  background-repeat: no-repeat;
  background-size: 10%, 12%, 5%, 5%;
  background-position: 0 45%, 90% 100%, 80% 50%, 90% 20%;
}

.first-page-background {
  background-color: #fff;
  opacity: 0.8;
}

.about-mobile-first-page h1 {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-size: 32px;
  padding-top: 6%;
  width: 100%;
  text-align: center;
}

.about-mobile-first-page h2 {
  text-align: center;
  font-family: 'COCOGOOSE', Arial, sans-serif;
  font-size: 43px;
  width: 100%;
  background-image: url(img/font.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
}

.about-mobile-first-page p {
  margin-top: 15%;
  background-color: #fff;
  border: 2px solid #d3d3d3;
  color: #2e323b;
  padding: 20px;
  line-height: 25px;
  width: 100%;
}

.about-second-page h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  padding-bottom: 1%;
}

.about-mobile-first-page h3 {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #2e323b;
  margin-top: 5%;
}

.about-mobile-first-page h4 {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #2e323b;
  margin-top: 2%;
  padding-bottom: 10%;
}

.about-second-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-second-page hr {
  border-bottom: 6px solid #ec5242;
  width: 5%;
}

.about-second-page p {
  color: #797474;
  padding-top: 1%;
}

.about-second-page .line3 {
  width: 100%;
  color: #2e323b;
  height: 20px;
}

.logo2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 25px;
  justify-content: center;
  border: 1px solid #cac6c6;
  padding: 25px 27%;
  margin: 3% 0;
  text-align: center;
}

.about-third-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
}

.about-third-page h2 {
  justify-content: center;
  align-self: center;
  padding-top: 5%;
  border-top: 2px solid gray;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.about-third-page h2::after {
  content: "";
  background-color: #ec5242;
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.about-third-page p {
  justify-content: center;
  align-self: center;
  text-align: center;
  padding-top: 1em;
}

.techrunch1 {
  position: relative;
  margin: 5% auto;
  width: 20rem;
  height: 12rem;
}

.techrunch1 img {
  width: 100%;
  height: 100%;
}

.techrunch1::before {
  position: absolute;
  display: block;
  content: "";
  background-color: rgba(255, 0, 0, 0.477);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.techrunch1 span {
  font-family: 'COCOGOOSE', Arial, sans-serif;
  font-size: 30px;
}

.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners {
  background-color: #948f8f;
}

.partners h2 {
  text-align: center;
  padding-top: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.partners h2::after {
  content: "";
  background-color: #ec5242;
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.partners-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.partners-logo img {
  width: 20%;
}

.mobile-about-footer {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mobile-about-footer img {
  width: 30%;
}

.mobile-aboutpage-first-nav {
  display: none;
}

.mobile-aboutpage-second-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  #handburger {
    display: none;
  }

  nav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 600;
  }

  .mobile-aboutpage-first-nav {
    background-color: #555151;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }

  .mobile-aboutpage-first-nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
    margin-right: 4%;
  }

  .mobile-aboutpage-second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 800;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgb(210, 218, 194);
    border-bottom: 3px solid #555151;
    padding-right: 20%;
    padding-left: 20%;
  }

  .mobile-aboutpage-second-nav a {
    text-decoration: none;
    color: #000;
    padding-right: 20px;
  }

  .mobile-aboutpage-second-nav a img {
    width: 40%;
    flex-shrink: 0;
  }

  .mobile-aboutpage-second-nav a#webdev {
    border: 2px solid red;
    padding: 8px;
  }

  .mobile-aboutpage-second-nav a#about {
    color: red;
  }

  #about-first-page {
    padding-top: 60px;
  }

  .first-page-background {
    background-color: #f3ebeb;
  }

  .about-mobile-first-page h1 {
    font-size: 40px;
  }

  .about-mobile-first-page h2 {
    font-size: 70px;
  }

  .about-mobile-first-page h2::after {
    content: "";
    background-color: #ec5242;
    display: block;
    margin: 0 auto;
    width: 1.3em;
    height: 2px;
    border-radius: 0.5px;
    margin-top: 0.5em;
  }

  .about-mobile-first-page p {
    margin: 5% auto;
    background-color: #fff;
    border: 2px solid #d3d3d3;
    color: #2e323b;
    padding: 50px;
    line-height: 25px;
    width: 60%;
  }

  .about-mobile-first-page h3 {
    font-size: 25px;
    text-align: center;
  }

  .about-mobile-first-page h4 {
    font-size: 18px;
    color: #202125;
  }

  .about-second-page {
    padding-top: 40px;
  }

  .about-second-page h3::after {
    content: "";
    background-color: #ec5242;
    display: block;
    margin: 0 auto;
    width: 1.5em;
    height: 2px;
    border-radius: 0.5px;
    margin-top: 0.5em;
  }

  .logo2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 40px;
    justify-content: center;
    border: 1px solid #cac6c6;
    padding: 25px 10%;
    margin: 3% 0;
    text-align: center;
  }

  .about-third-page .row {
    display: flex;
    gap: 25px;
    padding-bottom: 30px;
  }

  .partners {
    display: none;
  }

  .mobile-about-footer {
    background-color: #dfd6d5;
  }
}
