@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

#handburger {
  padding-top: 6%;
  margin: 0 1em;
}

.handburger {
  content: "\f0c9";
  font-size: 40px;
  color: #2e323b;
}

#first-page {
  background-image: url(img/home-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.first-page-background {
  background-color: #fff;
  opacity: 0.9;
}

.mobile-first-page {
  margin-right: 1em;
  margin-left: 1em;
  background-image: url(img/bck1.png), url(img/bck2.png), url(img/bck3.png), url(img/bck4.png);
  background-repeat: no-repeat;
  background-size: 20%, 12%, 5%, 5%;
  background-position: 100% 50%, 60% 0%, 90% 3%, 5% 50%;
}

.mobile-first-page h1 {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-size: 25px;
  padding-top: 6%;
  width: 100%;
}

.mobile-first-page h2 {
  font-family: 'cocogoose', sans-serif;
  color: transparent;
  font-size: 40px;
  width: 100%;
  background-image: url(img/font.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
}

.mobile-first-page p {
  margin-top: 10%;
  background-color: #ece9e9;
  border: 3px solid #fff;
  color: #2e323b;
  padding: 20px;
  line-height: 25px;
  width: 100%;
}

.mobile-first-page h3 {
  font-family: 'cocogoose', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #2e323b;
  margin-top: 5%;
}

.mobile-first-page h4 {
  font-size: 23px;
  color: #2e323b;
  margin-top: 2%;
  padding-bottom: 10%;
}

.mobile-second-page {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-image: url(img/xpattern.jpg);
  width: 100%;
  background-repeat: repeat;
  background-size: 10%;
  background-color: #78829b;
  padding-top: 5%;
}

.mobile-second-page h2 {
  font-size: 25px;
  font-weight: 800;
  margin: 1em auto;
  color: #fff;
}

.mobile-second-page h2::after {
  content: "";
  background-color: #ec5242;
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(252, 241, 241, 0.277);
  padding: 30px;
  margin-left: 1em;
  margin-right: 1em;
  gap: 30px;
}

.mobile-second-page h3 {
  color: #ec5242;
  font-size: 20px;
  min-width: 4em;
}

.mobile-second-page a {
  color: #fff;
  font-size: xx-large;
}

.mobile-second-page p {
  color: #fff;
  font-size: 20px;
}

.mobile-second-page button {
  width: 60%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #ec5242;
  margin: 2em auto;
  padding: 10px;
  text-decoration: none;
}

.mobile-third-page {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.mobile-third-page h2 {
  padding-top: 5%;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

.mobile-third-page #event::after {
  content: "";
  background-color: #ec5242;
  display: block;
  margin: 0 auto;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin-top: 0.5em;
}

.speaker1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
}

.image-container {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

.speaker1 img {
  width: 100%;
  height: 100%;
}

.speaker-image {
  width: 8em;
  height: 8em;
  flex-shrink: 0;
}

.speaker1 h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.speaker1 h3 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #ec5242;
  font-style: italic;
  padding-top: 0.6em;
}

.speaker1 h3::after {
  content: "";
  background-color: #78829b;
  display: block;
  width: 1.5em;
  height: 2px;
  border-radius: 0.5px;
  margin: 1em 0;
}

.speaker1 h4 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.mobile-about-footer {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #c4b5b5;
  margin-top: 15px;
  width: 100%;
}

.mobile-about-footer img {
  width: 20%;
}

.arrow {
  content: "\f078";
  color: #ec5242;
}

.mobile-third-page span {
  padding-right: 15px;
}

.mobile-aboutpage-first-nav {
  display: none;
}

.mobile-aboutpage-second-nav {
  display: none;
}

.whole-program {
  display: none;
}

.partners {
  display: none;
}

.show {
  display: flex !important;
}

.mobile-menu-hidden {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  background-color: #555151;
  z-index: 100;
  padding: 15px;
}

.mobile-menu-hidden img {
  width: 5%;
  box-sizing: content-box;
  padding-top: 15px;
  padding-left: 15px;
}

.mobile-menu-hidden a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  align-self: flex-end;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
  font-weight: 900;
}

@media only screen and (min-width: 768px) {
  #handburger {
    display: none;
  }

  nav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 600;
  }

  .mobile-aboutpage-first-nav {
    background-color: #555151;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }

  .mobile-aboutpage-first-nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
    margin-right: 4%;
  }

  .mobile-aboutpage-second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 800;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgb(210, 218, 194);
    border-bottom: 3px solid #555151;
    padding-right: 20%;
    padding-left: 20%;
  }

  .partners img {
    flex-wrap: wrap;
    padding-right: 20px;
    padding-top: 20px;
  }

  .mobile-aboutpage-second-nav a {
    text-decoration: none;
    color: #000;
    padding-right: 20px;
  }

  .mobile-about-footer img {
    width: 15%;
  }

  .mobile-aboutpage-second-nav a img {
    width: 40%;
    flex-shrink: 0;
  }

  .mobile-aboutpage-second-nav a#webdev {
    border: 2px solid red;
    padding: 8px;
  }

  .mobile-aboutpage-second-nav a#about {
    color: red;
  }

  #first-page {
    padding-top: 90px;
  }

  .mobile-first-page h1 {
    font-size: 40px;
  }

  .mobile-first-page h2 {
    font-size: 70px;
    max-width: 90em;
  }

  .speaker1 h2,
  h3,
  h4 {
    max-width: 10em;
  }

  .mobile-first-page h3 {
    max-width: 90em;
  }

  .mobile-first-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    margin-right: 1em;
    margin-left: 1em;
    background-image: url(img/bck1.png), url(img/bck2.png), url(img/bck3.png), url(img/bck4.png);
    background-repeat: no-repeat;
    background-size: 10%, 5%, 3%, 3%;
    background-position: 90% 97%, 60% 40%, 90% 3%, 5% 50%;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5 h3,
  p {
    text-align: center;
  }

  .mobile-first-page p {
    margin-top: 5%;
    background-color: #f3e7e7;
    border: 3px solid #fff;
    color: #000;
    padding: 20px;
    line-height: 25px;
    width: 40%;
    font-size: 20px;
  }

  .card-box {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 20px;
    width: 100%;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(252, 241, 241, 0.277);
    padding: 30px;
    width: 250px;
  }

  .card4 {
    border: 4px solid #fff;
  }

  .mobile-second-page button {
    display: none;
  }

  .whole-program {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }

  .whole-program a {
    font-size: 10px;
    color: #fff;
  }

  .speaker1 {
    width: 35%;
    margin: 0;
  }

  .image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 800px;
  }

  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 30px;
    background-color: rgb(86, 88, 80);
  }

  .partners h2::after {
    content: "";
    background-color: #ec5242;
    display: block;
    width: 1.5em;
    height: 2px;
    border-radius: 0.5px;
    margin: 15px auto;
  }

  .mobile-about-footer {
    background-color: #fff;
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .mobile-about-footer p {
    color: #000;
    font-size: 18px;
    font-weight: 900;
  }
}
